.container{
    width: 60%;
    margin: 0 auto;
    min-height: 100vh;
    label{
        margin: 10px 0px;
    }
    .formInput{
        display: flex;
        flex-direction: column;

        input, select{
            padding: 15px 30px;
            margin: 10px 0px;
            font-size: 15px;
            border: solid 2px rgb(219,219,219);
            border-radius: 10px;
        }

        button{
            margin-top: 1rem;
            padding: 1rem;
            color: white;
            background-color: green;
            border: none;
            border-radius: 0.6rem;
        }
    }

    .pageNavigation{
        display: flex;
        justify-content: space-between;

        button{
            border: none;
            background-color: transparent;
            padding: 1.5rem;
        }
    }
}