.container {
  position: relative;
  display: flex;
  gap: 2rem;
  min-height: 100vh;
  .filters {
    position: sticky;
    top: 4rem;
    flex: 1;
    height: fit-content;
    background-color: #f3f3eb;
    border-radius: 0.4rem;
    padding: 1rem;
    .filterBox {
      .filter {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
        display: flex;
        align-items: flex-start;
        input {
          margin-right: 0.7rem;
        }
      }
    }
  }
  .videos {
    flex: 5;
    display: block;
  }
}

@media (max-width: 600px) {
  .container {
    width: auto;
    .filters {
      display: none;
    }
    .videos {
    }
  }
}
