.videoCard
{
    display: flex;
    // justify-content: space-between;
    width: fit-content;
    gap: 5rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    // margin-left: auto;
    // margin-right: auto;
    background-color: #F5F5F5;

    .thumbnail{
        display: block;
  width: 40px;
  height: 30px;
//   box-shadow: 
//     100px 130px #000,
//     90px 140px #000,
//     100px 140px #000,
//     110px 140px #000,
//     80px 150px #000,
//     90px 150px #000,
//     110px 150px #000,
//     120px 150px #000,
//     90px 160px #000,
//     100px 160px #000,
//     110px 160px #000,
//     100px 170px #000;
}
.reference {
    white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: clip;
}
    }