@import '../../styles/colors';

.container{
    padding: 0.7rem 0.2rem;
    width: 160px;
    height: 240px;
    border: 2px solid grey;
    border-radius: 0.4rem;
    background-color: white;

    .image{
        width: 140px;
        height: 140px;
        align-self: center;
        margin: 0 auto;
        img{
            width: 100%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;

        }
    }

    .content{
        h3,h2,p{
            margin: 0.3rem;
            text-align: center;
        }
        p{
            font-weight: 600;
            color: $secondary-color;
        }
    }
}

@media (max-width: 600px) {
    .container{
        padding: 0.3rem 0.2rem;
        width: 120px;
        height: 190px;

        .image{
            width: 80px;
            height: 80px;

            img{
                width: 100%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            }
        }
    }

}