.container{
    padding: 0.5rem 0 ;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;


    button{
        color: white;
        padding: 0.5rem;
        border: none;
        margin-right: 1rem;
        background-color: grey;
        border-radius: 0.3rem;
        cursor: pointer;
    }
}