@import '../../../styles/colors';

.container{
    background-color: $secondary-color;
    color: white;
    margin-left: -4rem;
    padding: 2rem;

    ul{
        list-style: none;
        margin: 0;
        padding-left: 0;

        li{
            cursor: pointer;
            padding: 0.3rem;
            margin-bottom: 0.5rem;
        }
    }
}