@import '../../../styles/colors';
.container {
  background-color: $highlight-grey;
  //   width: 30%;
  border-radius: 0.6rem;
  padding: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background-color: transparent;
    border: none;
    color: black;
    fill: none;
  }
  &:hover {
    background-color: grey;
  }
}
