@import '../../styles/colors';

.extendedNav{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 9999;
}


.nav{
    background: transparent;
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.active{
    background-color: #FAFAFA;
    /* color: white; */
}

.nav .actionIcons{
    display: none;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.nav ul li a{
    margin: 5px 15px;
    font-size: 16px;
}

.nav ul li .highlight{
    color: white;
    background-color: $primary-color;
    opacity: 1;
    padding: 10px;
    border-radius: 12px;
}

.nav ul li .highlight:hover{
    background-color: $other-primary;
    color: #0F172A;
}

.nav ul li:not(.highlight):hover{
    font-weight: 500;
    color: $primary-blue;
}

.nav .logo{
    width: 200px;
    /* height: 90px; */
    align-self: center;
    cursor: pointer;

}

.nav .logo img{
    padding-left: 48px;
    width: 100%;
    /* align-self: center; */
}

.extendedNav .navItems{
    display: none;
}

@media(max-width:850px){
    
    .nav{
        height: 70px;
        background-color: white;
    }
    .nav ul{
        display: none;
    }

    .nav .actionIcons{
        display: flex;
        gap: 1.5rem;
    }

    .nav .actionIcons button{
        background-color: transparent;
        border: none;
    }
    .nav .logo{
        width: 150px;
    }
    .nav .logo img{
        /* height: 80px; */
        padding: 0;
        width: 100%;
        align-self: center;
    }

    .extendedNav .navItems{
        display: flex;
        padding-right: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .extendedNav .navItems ul{
        list-style: none;
        text-align: center;
    }

    .extendedNav .navItems ul li{
        margin-bottom: 0.75rem;
        font-size: 0.9rem;
        color: #3EC221;
        font-weight: 600;
    }


    
}