.container{
    display: flex;
    // justify-content: space-between;
    width: fit-content;
    gap: 5rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    // margin-left: auto;
    // margin-right: auto;
    background-color: #F5F5F5;
    
    form{
        padding: 2rem;
        .rowElements{
            display: flex;
            align-items: center;
            gap: 2em;
            // background-color: #F5F5F5;
   
          input { 
                border: none;
                border-bottom: 1px solid black;
                margin-bottom: 1px;
                padding: 1rem;
                background-color:#F5F5F5;
                 &:focus{
                     outline: none;
                 }
            }
           
           
        }
        .rowElements2{
            input { 
                border: none;
                border-bottom:  1px solid black;
             width: 100%;
                
                margin-bottom: 1px;
                padding: 1rem;
                background-color:#F5F5F5;
                 &:focus{
                     outline: none;
                 }
            }
        }
        
        input[type='submit']
        {
            background: #323639;
            border-radius: 16.6667px;
            color: white;
            background-color: 
            #323639;
            width: 100px;
            height: 35px;
            float: right;
            border: none;
            
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            &:hover {
                 color: #000000;
            }
        }
    }
 .contactInfo{
    background-color: 
    #CACACA;
    width: 300px;
    
    padding: 2rem;
    .contactIcons{
        display: flex;
        gap: 2em;
        p{
            margin: 0;
            gap: 2em;
        }
        .callicon{
            display: flex;
            justify-content: space-between;
            gap: 2em;
        }
        .mailicon{display: flex;
            justify-content: space-between;}   
        
    
        align-items: flex-start;
        a{text-decoration: none;}

        
    }
    .socialIcons{
        display: flex;
        gap: 1em;
         
    }

    

    }
 }